			html, body, div,class ,id, span, applet, object, iframe,
			h1, h4, h5, h6, p, blockquote, pre,a,b,i,h2,h3,
			 abbr, acronym, address, big, cite, code,s
			del, dfn, em, img, ins, q, s, samp,
			small, strike, strong, sub, sup, tt, var, u, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {

				margin: 0px auto;
				padding: 0;
				border: 0;
				font-size:100%;
				font:inherit;

			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			#wrapper {

				font-size:12px;
				word-spacing:2px;
				line-height:14px;
			}

			/****HEADER****/
			
			#header {
				margin-bottom:34px;
			}

			.headerTop {
				width:940px;
				}
			
			.headerTop a.logo {
				background-image:url(../images/logo.png);
				width:256px;
				height:69px;
				float:left;
				margin-top:9px;
				margin-bottom:9px;
			}

			.headerTop a.logo {
				text-indent:-400px;
			}

			.loginRegister {
				float:right;
				margin-top:18px;
				font-size:14px;
				line-height:16px;
			}

			.loginRegister li {	
				float:left;
				padding-left:15px;
			}

			.loginRegister  li a {
				text-decoration:none;
				color:#4965b0;
			}

			.loginRegister li a:hover {
				color:#000000;
			}

			.loginRegister  li.loginStyle {
				border-right:1px solid #4965b0;
				padding-right:14px;
			}

			.clr {
				clear:both;
			}

			
			.headerBottom {
				background-color:#3355aa;
			}

			.menu {
				width: 940px;
				margin: 0px auto;
				color: #fff;
				font-size:14px;
				line-height: 40px;
				font-family:Georgia;
			}

			.menu .clr {
				float: none;
				clear: both;
			}

			.menu  li {
				float: left;
			}

			.menu li:hover {
				background-color: #6699cc;
			}

			.menu  li a {
				font-size: 14px;
				color: #fff;
				display: block;
				font-style: italic;
				padding-left: 15px;
				padding-right: 15px;
				text-decoration:none;
				word-spacing: 2px;
			}

			.menu li a:hover {
				color:#000000;
			}

			/****CONTENT****/

			#content {
				margin:0px auto; 
				width:940px;
			}

			/****TOP CONTENT SECTION****/

			.topContentSection{
				margin-bottom:68px;
			}

			.leftContent {
				float:left;
				margin-right:30px;
			}

			.middleContent {
				width:220px;
				float:left;
				margin-right:35px;
				margin-top:8px;
			}

			 h3.headingStyle {
				color:#666666;
				font-family:Arial;
				font-size:16px;
				border-bottom:3px solid #eebe00;
				line-height: 40px;
				margin-bottom:14px;
				font-weight:bold;
			}

			 h3.headingColor {
				color:#3355aa;
			}


			.middleContent p {
				color:#666666;
				font-size:13px;
				font-family: Georgia;
				line-height:20px;
				text-align:left;
				margin-bottom:8px;
			}

			.middleContent h3 a {
				text-decoration:none;
				color:#3355aa;
			}

			.middleContent h3 a:hover {
				color:#000000;
			}
			
			.rightContent {
				width:220px;
				margin-top:8px;
				float:right;
				font-family: Georgia;
				font-size:13px;
				line-height:18px;
			}

			.rightContent ul li {
				border-bottom:1px solid #cccccc;
				word-spacing:1px;
				margin-bottom:11px;
			}


			.rightContent ul li a{
				text-decoration:none;
				color:#000000;
			}

			.rightContent ul li a:hover {
				color:#3355aa;
			}

			.rightContent .announcementSender  {
				margin-bottom:8px;
				color:#999999;
				font-size:10px;
				line-height:18px;
				display:block;
				margin-top:8px;
			}

			.rightContent a.viewMore {
				line-height:15px;
				display:block;
				font-size:13px;
				font-family:Georgia;
				text-decoration:none;
				color:#3355aa;		
			}

			
			/****MIDDLE CONTENT SECTION****/

			.middleContentSection {
				margin-bottom:40px;		
			}

			.middleContentSection h2 {
				font-family:Arial;
				text-align:center;
				font-size:28px;
				line-height:30px;
				color:#444444;
				margin-bottom:30px;
				font-weight:bold;
			}

			.workSector {
				
				text-align:center;
			}

			.workSector ul li{
				height:266px;
				width:175px;
				border-radius:5px;
				float:left;
				margin-right:12px;
				margin-bottom:30px;
				box-shadow:0px 0px 5px #cccccc ;
			}

			ul li.clr {
				float:none;
				clear:both;
				height:0;
				width:0;
				border-radius:0;
				margin:0;
				box-shadow:none;
			}

			.workSector ul li a {
				text-decoration:none;
				color:#3355aa;
				display: block;
				padding:2px;
			}

			.workSector ul li a:hover {
				box-shadow: 0px 5px 5px #cccccc;
				color:#000000;
			}

			.workSector ul li h3{
				text-align:center;
				padding:14px;
				font-family: Georgia;
				font-size:12px;
				line-height:14px;
				min-height:30px;
			}


			/****BOTTOM CONTENT SECTION****/


			.bottomContent h2 {
				font-family: Arial;
				font-size:24px;
				text-align:center;
				color:#444444;
				line-height:40px;
				font-weight:bold;
			}

			.bottomContent .mapStyle {
				
				display:block;
				font-family: Georgia;
				font-size:18px;
				text-align:center;
				color:#666666;
				line-height:22px;
				margin-bottom:35px;
			}

			.bottomContent .worldMap {
				width: 570px;
       			height: 365px;
        		margin: 0 auto 15px auto;
			}

			.anchorTag {
				float: right;
        		width: 45px;
        		padding: 5px 5px 5px 10px;
        		border-top-left-radius: 5px;
        		border-top-right-radius: 5px;
        		box-shadow: 0 0 3px 0 #666666;
        		font-style: italic;
			}

			.anchorTag a {
				color: #3355aa;
				text-decoration:none;
			}
			
			.anchorTag a:hover {
				color:#000000;
			}

			/****FOOTER****/

			#footer {
				background-image:url(../images/footerbackground.png);
			}

			.footerTop {
			width:940px;
			margin:0px auto;
			}

			.footerMenu {
				float:left;
				margin-top:15px;

			}

			.footerMenu li {	
				float:left;
				font-family:Georgia;
				font-size:14px;
				line-height:16px;
				padding-right:6px;
				padding-left:6px;
				border-left: 1px solid #7e7e7e;
			}

			.footerMenu .selected a {
				color:#ffffff;	
			}

			.footerMenu .selected {
				border-left:none;
				padding-left:0px;
			}


			.footerMenu li a {
				text-decoration:none;
				color:#7e7e7e;
				text-shadow: 0px 0px 2px #000000;
			}

			.footerMenu li a:hover {
				color:#ffffff;
			}


			.footerRightMenu {
				float:right;
				margin-top:13px;
			}

			.footerRightMenu li {	
				float:left;
				font-family:Georgia;
				font-size:14px;
				line-height:16px;
				padding-right:6px;
				padding-left:6px;
				border-left: 1px solid #7e7e7e;
			}

			.footerRightMenu .selected {
				border-left:none;
				padding-left:0px;
			}


			.footerRightMenu li a {
				text-decoration:none;
				color:#7e7e7e;
				text-shadow: 0px 0px 2px #000000;
			}

			.footerRightMenu li a:hover {
				color:#ffffff;
			}

			.footerBottom {
				width:940px;
				margin:0px auto;
				font-family:Georgia;
				font-size:11px;	
				line-height:13px;
			}

			.footerBottom .footerBottomLeft{
				float:left;
				text-shadow: 0px 0px 2px #000000;
				color:#7e7e7e;
				margin-bottom:10px;
			}

			.footerBottom .footerBottomRight {
				float:right;
				text-shadow: 0px 0px 2px #000000;
				color:#7e7e7e;
				margin-bottom:10px;
			}

			.footerBottomRight  li {
				float:left;
				padding-right:8px;			
			}
			
			.footerBottomRightStyle {
				padding-top:3px;
			}

			.footerBottom .footerBottomRight li .facebook {
				background-image:url(../images/facebook.png);
				background-repeat: no-repeat;
				box-shadow: 0px 3px 2px #0d141f;
				display:block;
				height:15px;
				width:15px;			
			}

			.footerBottom .footerBottomRight li .facebook:hover {
				box-shadow: 3px 3px 2px #0d141f;
			}

			.footerBottom .footerBottomRight li .twitter {
				background-image:url(../images/twitter.png);
				background-repeat:no-repeat;
				box-shadow: 0px 3px 2px #0d141f;
				display:block;
				height:15px;
				width:15px;	
			}

			.footerBottom .footerBottomRight li .twitter:hover {
				box-shadow: 3px 3px 2px #0d141f;
			}


			.footerBottom .footerBottomRight li .linkedIn {
				background-image:url(../images/linkedin.png);
				background-repeat: no-repeat;
				box-shadow: 0px 3px 2px #0d141f;
				display:block;
				height:15px;
				width:15px;	
			}

			.footerBottom .footerBottomRight li .linkedIn:hover {
				box-shadow: 3px 3px 2px #0d141f;
			}


			
