	html, body, div, span, applet, object, iframe,
	h1, h4, h5, h6, p, blockquote, pre,a,b,i,h2,h3,
	 abbr, acronym, address, big, cite, code,s
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, u, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {

		margin: 0;
		padding: 0;
		border: 0;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	#wrapper {


	}

	/****HEADER****/
	
	#header {


	}

	.headerTop {

		width:940px;
		margin:0px auto;
		
	}
	
	.logo {

		float:left;
		padding-top:9px;

	}

	.loginRegister {

		float:right;
		margin-top:14px;
	}



	.loginRegister ul li {

		
		float:left;
		padding-left:6px;

	}

	.loginRegister ul li a {

		text-decoration:none;
		color:#4965b0;
	}

	.loginRegister ul li.loginStyle {

	
		border-right:1px solid #4965b0;
		padding-right:6px;

	}

	.clr {

		clear:both;
	}

	.clrLeft {

		clear:left;
	}

	

	.headerBottom {

		height:40px;
		background-color:#3355aa;

	}

	/****Menu****/

	.menu {

		margin:0px auto;
		width:940px;
		line-height:40px;
		font-family: Georgia;
		font-style:italic;
		font-size:14px;
	}


	.menu ul li {

		display:block;
		float:left;
		padding-left:18px;
		padding-right:18px;
	}

	.menu ul li a {

		text-decoration:none;
		color:#ffffff;
	}

	/****CONTENT****/

	#content {

		margin:0px auto; 
		width:940px;

	}

	/****TOP CONTENT SECTION****/

	.topContent{


	}

	.leftContent {

		padding-top:35px;
		float:left;
	}

	.middleContent {

		width:220px;
		float:left;
		padding-top:45px;
		padding-left:38px;


	}

	 h3.headingStyle {

		color:#666666;
		font-family:Arial;
		font-size:16px;
		border-bottom:3px solid #eebe00;
		line-height: 40px;
	}

	 h3.headingColor {

		color:#3355aa;
	}


	.middleContent p {

		color:#666666;
		font-size:13px;
		font-family: Georgia;
		line-height:21px;
		text-align:left;
		word-spacing: 1px;
		padding-top:10px;

	}
	
	.rightContent {

		width:220px;
		float:right;
		padding-top:45px;
		font-family: Georgia;
		font-size:13px;
		line-height:20px;
	}


	.rightContent .announcementSender  {

		padding-top:5px;
		color:#999999;
		font-size:10px;
		padding-bottom:6px;
		border-bottom:1px solid #cccccc;


	}

	.rightContent .subAnnouncmentStyle {

		color:#000000;
	}

	.rightContent .mainAnnouncementStyle {

		padding-top:10px;
	}

	.rightContent h4{

		padding-top:12px;
		font-family:Georgia;

			
	}

	 .rightContent h4 a{

		text-decoration:none;
		color:#3355aa;	
	}

	.rightContent .subListStyle {

		color:#000000;
	}

	/****MIDDLE CONTENT SECTION****/

	.middleImageContent {

		padding-top:70px;

	}

	.middleImageContent h2 {

		font-family:Arial;
		text-align:center;
		font-size:28px;
		color:#444444;
	}

	.imageList {

		padding-top:30px;
		text-align:center;

	}

	.imageList ul li{

		position:relative;
		height:266px;
		width:175px;
		border-radius:5px;
		float:left;
		margin:6px;
		box-shadow:0px 0px 5px #cccccc ;
		
	}

	.imageList ul li img {

		position:absolute;
		top:60px;
		left:5px;
	}

	.imageList ul li a {

		text-decoration:none;
		color:#3355aa;
	}

	.imageList ul li h3{

		text-align:center;
		padding:14px;
		font-family: Georgia;
		font-size:12px;

	}

	.imageList .imageBorder {

		padding-top:24px;
	}

	/****BOTTOM CONTENT SECTION****/

	.bottomContent {

		padding-top:40px;
	}

	.bottomContent h2 {

		font-family: Arial;
		font-size:24;
		text-align:center;
		color:#444444;
		line-height:40px;

	}

	.bottomContent p {

		font-family: Georgia;
		font-size:18;
		text-align:center;
		color:#666666;
		line-height:22px;

	}

	.bottomContent img {

		padding: 36px 191px 0px 191px;
	}

	/****FOOTER****/

	#footer {

		height:104px;
		margin-top:48px;
		background-image:url(../images/footer_background.jpg);
		background-repeat: repeat-x;
	}



	.footerTop {

		width:940px;
		margin:0px auto;
		font-family:Georgia;
		font-size:14px;
		padding-top:20px;
		padding-bottom:18px;
		border-bottom:2px solid #3d3d3d;

	}


	.footerMenu {

		float:left;
	}

	.footerMenu ul li {

		
		float:left;
		padding-right:6px;
		padding-left:6px;

	}

	.footerMenuStyle {

		border-right: 1px solid #7e7e7e;
		padding-right:6px;
		padding-left:6px;

	}

	.footerMenu ul li a {

		text-decoration:none;
		color:#7e7e7e;
	}

	.footerRightMenu {

		float:right;
		
	}

	.footerRightMenu ul li {

		float:left;
		padding-right:6px;
		padding-left:6px;

	}

	.footerRightMenu ul li a {

		text-decoration:none;
		color:#7e7e7e;
	}


	.footerBottom{

		width:940px;
		margin:0px auto;
		font-family:Georgia;
		font-size:11px;
		color:#7e7e7e;
	}

	.footerBottom .footerBottomLeft {

		float:left;
		padding-top:17px;
		padding-left:6px;
	}

	.footerBottom .footerBottomRight {

		float:right;
		padding-top:14px;
		padding-right:115px;
	
	}

	.footerBottomRight ul li {

		float:left;

		padding-right:8px;

	}
	
	.footerBottomRightStyle {

		padding-top:3px;
	}
